div.container a.brand {
    background: url("../images/swissbib-logo.png") no-repeat scroll 0 8px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.topButtons {
	float: right;
	clear: both;
}

.searchForm,
.searchResultList {
	clear: both;
}

.form-horizontal .general .control-label {
	width: 100px;
}
.form-horizontal .general .controls {
	margin-left: 120px;
}

fieldset.notes textarea {
	width: 95%;
}

#search-query {
	width: 170px;
}


form#group #views .controls,
form#view #groups .controls {
	margin-left: 50px;
}
form#group #views .controls label.checkbox,
form#view #groups .controls label.checkbox {
	display: inline-block;
	width: 30%;
	margin-bottom: 15px;
}

ul.adminNavi {
	margin-top: 50px;
}

#institution #relations .group label {
	display: none;
}

#institution #relations .group .controls {
	margin-left: 0;
}

#institution #relations .group .controls select {
	width: 90%;
}

#institution #relations .favorite .control-group > label {
	width: 100px;
}

#institution #relations .favorite .controls {
	margin-left: 120px;
}


#view #relations th.nr {
	width: 5%;
}
#view #relations th.codes {
	width: 30%;
}
#view #relations th.favorite {
	width: 10%;
}




#group #institutions .listElement .controls {
	margin-left: 0;
}
#group #institutions .listElement select {
	width: 90%;
}

#group #institutions .buttons label {
	display: none;
}

#group #institutions .buttons .controls {
	margin-left: 0;
}


body {
    padding-top: 60px;
    padding-bottom: 40px;
}


.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}